project_id = "csye6225-demo-487215"
env        = "demo"
name_suffix = "v1"

region = "us-east1"
zones  = ["us-east1-b", "us-east1-c", "us-east1-d"]

# Put your PUBLIC IPv4 /32 here (not IPv6)
ssh_allowed_cidrs = ["24.61.127.119/32"]

app_port = 8080